.container {
    display: flex;
    flex-direction: column;
}
.price-container {
    display: flex; 
    flex-direction: column;
}

.user-data-container {
    display: flex; 
    row-gap: 5px;
    flex-direction: column;
}
.img-title {
    width: 100px;
    height: 100px;
}
.accord {
    width: 100px;
}
.back {
    width: 100px;
}
.list-container {
    display: flex;
    flex-direction: column;
}
.user-data {
    width: 200px;
}