.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

  .wrapper {

    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 26px;
    border: 2px solid #337AB7;
  }
  .footer {
    height: 50px;
    width: 50px;
    position: relative;
  }
  .footer-container {
    position: sticky;
    bottom: 0;
  }
  .platter-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .totalProduct {
    position: absolute;
    color: rgb(250, 0, 0);
  }
